<header class="uk-background-cover uk-position-relative uk-text-center" itemscope itemtype="http://schema.org/WPHeader">
  <div class="uk-flex uk-flex-middle">
    <div class="uk-width-1-1 uk-section-secondary">
      <div  class=" uk-background-center-center uk-background-norepeat uk-background-cover uk-section uk-section-secondary uk-section-xlarge"
      style="background-image: url('{{inside_header_img}}');">
      <div class="uk-overlay-primary uk-position-cover" style="background-image: linear-gradient(to {{global.right_on_rtl_left_on_ltr}}, rgba(30, 75, 115, 1), rgba(0, 0, 0, 0.4))">
      </div>
      <!-- one -->
      <div data-uk-parallax="opacity: 1,0; y: -100; viewport: 0.9" itemprop="headline" class="uk-hidden-small uk-heading-primary uk-text-center uk-margin-small-bottom">
        <span class="uk-display-block  uk-margin-remove-bottom uk-margin-auto uk-margin-remove-bottom- st-text-light uk-text-large">
          <span class="uk-text-success">
            {{teaser}}
          </span>
        </span>
      </div>
      <!-- two -->
      <h1 data-uk-parallax="opacity: 1,0; y: -100; viewport: 0.9" itemprop="headline" class="uk-heading-primary uk-text-center uk-padding-bottom uk-margin-small-top  uk-margin-auto">
        {{seo.title}}
      </h1>
      <!-- three -->
      <a data-uk-parallax="opacity: 1,0; y: 100; viewport: 0.9" class="uk-hidden2 uk-button uk-button-2link uk-button-text" href="#main" data-uk-scroll="">{{global.jump_to_main}}
        <span class="uk-margin-small-{{global.right_on_rtl_left_on_ltr}}">&#8595;</span>
      </a>
    </div>

  </div>
</div>
</div>
</header>
