
<!-- zigzagFlip -->
<section class="uk-section uk-section-primary uk-section-large uk-position-relative">
	<div class="uk-container uk-container-large">
		<div class="uk-grid uk-grid-large" data-uk-grid>




		<div class="uk-width-1-2 uk-visible@l uk-position-{{global.right_on_rtl_left_on_ltr}} uk-background-cover" style="background-image: url({{zigzagFlip.img.src}});"
		data-uk-parallax="opacity: 0,1; viewport: 0.5">
	</div>

	<div class="uk-width-1-1">
		<img class="uk-hidden@l" alt="zigzagFlip.img.alt" src="{{zigzagFlip.img.src}}">
	</div>

		<div class="uk-width-1-2@l">

		</div>
	<div class="uk-width-1-2@l">
		<div class="st-text-light uk-text-large uk-text-light uk-text-center uk-text-{{global.right_on_rtl_left_on_ltr}}@m uk-scrollspy-inview uk-animation-slide-top-small" data-uk-scrollspy=" cls:uk-animation-slide-top-small; offset-top:50" style="">
			{{zigzagFlip.teaser}}
		</div>
		<h2 class="uk-h1 st-header uk-heading-divider uk-margin-small uk-margin-remove-adjacent uk-text-center uk-text-{{global.right_on_rtl_left_on_ltr}}@m uk-scrollspy-inview uk-animation-slide-top-small">
			{{zigzagFlip.heading}}
		</h2>
			{{{zigzagFlip.description}}}
		<a href="/{{global.language}}/contact">
			{{zigzagFlip.button_text}}
		</a>
	</div>


	</div>
</div>
</section>
