<section class="uk-section-secondary">
	<div style="background-image: url('/assets/img/Depositphotos_164116462_user_use_laptop_iphone.jpg');" class="uk-background-norepeat uk-background-cover uk-background-center-{{global.right_on_rtl_left_on_ltr}} uk-background-image@s uk-section uk-section-large uk-flex uk-flex-middle" uk-parallax="bgx: 0,-60" uk-height-viewport="offset-top: true">
		<div class="uk-width-1-1">
			<div class="uk-container uk-container-large wow">
				<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
					<div class="uk-width-1-1@m uk-grid-item-match">
						<div class="uk-grid-item-match">

							<div class="uk-overlay-primary uk-position-cover"
							style="background-image: linear-gradient(to {{global.right_on_rtl_left_on_ltr}}, rgba(30, 75, 115, 0.6), rgba(0, 0, 0, 0.4))"
							></div>

							<div style="background-image: url('/assets/img/dots-texture.svg');" class="uk-background-norepeat uk-background-center-center uk-tile" uk-parallax="bgy: -10,-90">
								<h1 class="uk-margin-small uk-width-large@m uk-text-{{global.right_on_rtl_left_on_ltr}}@m uk-text-center uk-h6 uk-heading-line" uk-parallax="opacity: 1,0;viewport: 0.95;media: @s">
									<span>Digital Design Agency</span>
								</h1>
								<h2 class="uk-margin-small uk-text-{{global.right_on_rtl_left_on_ltr}}@m uk-text-center uk-heading-hero" uk-parallax="y: 0,60;opacity: 1,0;easing: 0.8;viewport: 0.95;media: @s">
									We have an<br class="uk-visible@l">
									eye for design.

								</h2>
								<div class="uk-margin uk-text-{{global.right_on_rtl_left_on_ltr}}@m uk-text-center" uk-parallax="y: 0,450;opacity: 1,0;easing: 0.3;target: !.uk-section;media: @s">
									<a uk-icon="icon: arrow-down;ratio: 1.5" class="uk-icon-link uk-icon" href="#main" data-uk-scroll=""><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.5"> <polygon points="10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66"></polygon> <line fill="none" stroke="#000" x1="10.5" y1="4" x2="10.5" y2="15"></line></svg></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
