<!-- לזכור שזה לאינדקס 3 אם אני משנה את התפריט חובה לשנות גם פה -->
<section id="services_pagelist_with_images" class="uk-grid-divider" data-uk-grid itemscope itemtype="http://schema.org/Service"

data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300"
>
	{{#grouped_each 4 global.mainmenu.items.[3].services_list}}
	{{#each this}}
	<div class="uk-width-1-1@m uk-width-1-2@l" >
		<div class="uk-card-head2er">
			<h3 class="uk-heading-bullet-red uk-text-small">{{label}}</h3>
			<br>
		</div>
		<div class="uk-position-relative uk-visible-toggle" uk-slider="finite: false">
			<ul class="uk-slider-items uk-grid" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog" onloadedmetadata="">
				{{#each topics}}
				<li class="uk-width-3-5@m uk-margin-bottom" itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
					<div class="uk-card uk-card-small uk-card-default" itemprop="itemOffered" itemscope itemtype="http://schema.org/Service"


					>
						<a class="uk-link-heading" title="{{this.label}}" href="/{{../language}}/{{../parent_slug}}/{{page_slug}}">
							<div class="uk-card-media-top">
								<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
									<img class="uk-transition-scale-up uk-transition-opaque" src="{{this.image}}" alt="" >
								</div>
							</div>
							<div class="uk-card-body uk-body-small">
								<h3 style="color: black;" class="uk-h4 uk-card-title" itemprop="name">
									<img class="nav-icon" src="{{this.icon}}" alt="" width="16" height="16">
									&nbsp;{{this.label}}
								</h3>
							</div>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>

			<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
			<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

			<ul class="uk-slider-nav uk-dotnav"></ul>

		</div>
	</div>
	{{/each}}
	{{/grouped_each}}
</section>
